@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.container{
  max-width: 1250px;
  margin: auto;
}
.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  /* height: 100vh; */
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  /* margin-bottom: 1em; */
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
  line-height: 1;
}

.text-center{
   text-align: center;
  margin-bottom: 1.5em;
}
.link-primary{
  color: rgb(62, 56, 235);
  cursor: pointer !important;
}

.welcome h1{
 text-align: center;
  /* margin-bottom: 1em; */
  font-size: 44px;
  margin: 4rem 0;
  color: rgb(34, 34, 34);
  font-weight: 800;
  line-height: 1;
}

.patient_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.patient_header h3{
  font-size: 1.5rem;
  font-weight: 600;
}

.patient_form{
  padding: 0 1rem;
}
.patient_form .ant-space-item {
    width: 27rem !important;
}
/* override */
.ant-input-lg {
    
    font-size: 18px !important;
    border-radius: 4px !important;
}

.Auth-form-container .ant-btn-lg{
  border-radius: 4px !important;
  width: 20rem !important;
  height: 44px !important;
  margin-bottom: 2rem !important;
}
.edit_icon{
  font-size: 1.5rem !important;
  cursor: pointer;
}